body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(84,84,92,1) 46%, rgba(210,210,210,1) 100%);
}

.flexNavbar{
  padding-left: 3em;
  padding-right: 3em;
}

.infoImages{
  display: flex;
  flex-direction: row;
}

.infoLogos{
height: 2em;
padding-left: 1em;
padding-right: 1em;
}

.flexMenu{
  padding: 2em;
}

.colMenu{
  border-style: outset;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  background-color: rgb(165, 163, 157);

box-shadow: 20px 20px 100px 27px rgba(0,0,0,0.6);
-webkit-box-shadow: 20px 20px 100px 27px rgba(0,0,0,0.6);
-moz-box-shadow: 20px 20px 100px 27px rgba(0,0,0,0.6);
}

.colMenu:hover{
  border-color: white;
}

.mailInput{
  padding: 1em;
}

.mailSubmit{
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}

.buttonSubmitters{
  display: flex;
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 4em;
}

.status{
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}

.dataViewers{
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  flex-direction: column;
}

.dataValues{
  margin-left: 1em;
  width: 50em;
  border-radius: 5px;
  background-color: transparent;
}

.emailDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1em;
  padding-top: 1em;
}

.emailEntry{
  border-radius: 5px;
  background-color: transparent;
}

li{
  font-size: 0.7em;
}

ol{
  padding-left: 0.5px;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    li{
      font-size: 0.33em;
    }
    
    ol{
      padding-left: 0.1px;
    }

}
    

